.search-bar{
    width: 60%;
    &__button, &__input{
        background-color: white;
        border: 1px solid #fff;
    }
    &__input{
        border-left: 0px;
        border-bottom-right-radius: 8px;    
        border-top-right-radius: 8px; 
        height: 35px;
        margin-left: 5px;
        flex-grow: 1;
        width: 65%;
    }
    &__button{
        border-right: 0px;
        border-bottom-left-radius: 8px;    
        border-top-left-radius: 8px; 
        height: 39px;
        width: 35%;
    }
    &__form{
        display: flex;
    }
}