.search-bar{
    width: 30%;
    float: right;
    min-height: 2vh;
    &__button, &__input{
        background-color: white;
        border: 1px solid #fff;
    }
    &__input{
        border-right: 0px;
        border-bottom-left-radius: 8px;    
        border-top-left-radius: 8px; 
        height: 56px;
        margin-right: 5px;
        flex-grow: 1;
        width: 70%;
        background-color: white;
    }
    &__button{
        border-left: 0px;
        border-bottom-right-radius: 8px;    
        border-top-right-radius: 8px; 
        height: 60px;
        width: 30%;
        background-color: white;
    }
    &__form{
        display: flex;
    }
}